In [1]:
import pandas as pd

In [2]:
water = pd.read_csv("../water_potability.csv")

In [3]:
water['SampleNumber'] = water.index

In [4]:
water.shape

(3276, 11)

In [5]:
water.dropna()
water.reset_index()

,index,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,SampleNumber
0,0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0,0
1,1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0,1
2,2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0,2
3,3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0,3
4,4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
3271,3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1,3271
3272,3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1,3272
3273,3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1,3273
3274,3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1,3274
3275,3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1,3275

In [6]:
#water = water.sort_values("ph", ascending=False).reset_index(drop=True)
#water['ph_rank'] = water.index

In [7]:
water.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber'],
      dtype='object')

In [8]:
water['ph_rank'] = water[water['ph'].notnull()].groupby('ph', sort=True).ngroup()+1
water['ph_rank'] = water['ph_rank'].fillna('')

In [9]:
water['Hardness_rank'] = water[water['Hardness'].notnull()].groupby('Hardness', sort=True).ngroup()+1
water['Hardness_rank'] = water['Hardness'].fillna('')

In [10]:
water['Solids_rank'] = water[water['Solids'].notnull()].groupby('Solids', sort=True).ngroup()+1
water['Solids_rank'] = water['Solids_rank'].fillna('')

In [11]:
water['Chloramines_rank'] = water[water['Chloramines'].notnull()].groupby('Chloramines', sort=True).ngroup()+1
water['Chloramines_rank'] = water['Chloramines_rank'].fillna('')

In [12]:
water['Sulfate_rank'] = water[water['Sulfate'].notnull()].groupby('Sulfate', sort=True).ngroup()+1
water['Sulfate_rank'] = water['Sulfate_rank'].fillna('')

In [13]:
water['Conductivity_rank'] = water[water['Conductivity'].notnull()].groupby('Conductivity', sort=True).ngroup()+1
water['Conductivity_rank'] = water['Conductivity_rank'].fillna('')

In [14]:
water['Organic_carbon_rank'] = water[water['Organic_carbon'].notnull()].groupby('Organic_carbon', sort=True).ngroup()+1
water['Organic_carbon_rank'] = water['Organic_carbon_rank'].fillna('')

In [15]:
water['Trihalomethanes_rank'] = water[water['Trihalomethanes'].notnull()].groupby('Trihalomethanes', sort=True).ngroup()+1
water['Trihalomethanes_rank'] = water['Trihalomethanes_rank'].fillna('')

In [16]:
water['Turbidity_rank'] = water[water['Turbidity'].notnull()].groupby('Turbidity', sort=True).ngroup()+1
water['Turbidity_rank'] = water['Turbidity_rank'].fillna('')

In [17]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,SampleNumber,ph_rank,Hardness_rank,Solids_rank,Chloramines_rank,Sulfate_rank,Conductivity_rank,Organic_carbon_rank,Trihalomethanes_rank,Turbidity_rank
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0,0,,204.890455,1620,1792,2010,3105,370,2826,342
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0,1,50,129.422921,1284,1229,,3196,2002,802,2458
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0,2,2108,224.236259,1467,2998,,1590,2550,1545,407
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0,3,2234,214.373394,1795,2411,1820,783,2932,3059,2628
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0,4,2510,181.101509,1176,1152,664,1279,664,60,1814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1,3271,163,193.681735,3250,1675,1871,2893,1489,1566,2382
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1,3272,1925,193.553212,1069,2412,,1190,3139,,214
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1,3273,2582,175.762646,2918,1835,,1793,519,1820,646
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1,3274,284,230.603758,355,961,,1362,562,2345,2716
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1,3275,1970,195.102299,1080,1977,,354,2334,2429,59

In [18]:
water["Average_Rank"] = water[['ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank']].mean(numeric_only=True, axis=1)

In [19]:
water = water.sort_values("Average_Rank", ascending=True).reset_index(drop=True)
water['Average_Rank_2'] = water.index

In [20]:
#water.to_csv('water1.csv', index=False)

In [21]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,...,Hardness_rank,Solids_rank,Chloramines_rank,Sulfate_rank,Conductivity_rank,Organic_carbon_rank,Trihalomethanes_rank,Turbidity_rank,Average_Rank,Average_Rank_2
0,NaN,226.548354,13584.490338,4.190696,374.157621,335.378212,9.147436,82.864929,2.364559,0,...,226.548354,536,114,2103,440,206,2651,66,264.758059,0
1,5.626340,230.857983,14442.418875,5.210369,NaN,346.553206,11.368702,43.195182,1.943319,1,...,230.857983,646,339,,567,618,244,16,402.809664,1
2,NaN,254.125389,9959.135015,4.008584,NaN,364.806273,11.316645,59.353221,3.170543,0,...,254.125389,198,90,,802,602,975,506,408.687565,2
3,9.076318,215.912723,14153.643378,5.020027,333.499203,311.797042,10.776321,69.114593,3.436986,0,...,215.912723,619,288,1265,232,457,1774,812,437.318787,3
4,NaN,199.383091,5576.628297,4.998844,341.088342,388.249299,10.745154,50.747474,3.216414,0,...,199.383091,36,280,1469,1132,450,500,559,442.730515,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,6.761414,216.532498,32156.819439,8.723064,343.601104,526.325214,20.314691,60.521593,4.350207,1,...,216.532498,2851,2791,1536,2891,3173,1082,2244,2361.088750,3271
3272,6.770095,201.650854,25887.631722,9.367533,327.619453,519.380367,17.720300,90.064849,5.203461,1,...,201.650854,2292,3020,1111,2837,2771,2909,3100,2370.275142,3272
3273,NaN,186.873014,26004.528877,8.493529,320.693485,534.130272,19.890025,54.373956,5.144114,0,...,186.873014,2307,2696,920,2953,3137,689,3065,2390.812169,3273
3274,7.154736,198.147326,32680.977991,8.972661,283.108492,531.602634,19.806287,81.926826,4.629956,1,...,198.147326,2884,2895,250,2935,3128,2607,2630,2445.024554,3274
3275,10.003301,143.094285,46113.957485,12.912187,NaN,574.555041,16.963310,36.767671,4.746382,1,...,143.094285,3245,3274,,3148,2577,123,2749,2522.682381,3275

In [22]:
water_dropna = water.dropna()
water_dropna.shape

(2011, 22)

In [23]:
agg = water[['Hardness', 'ph', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber']].count()

df = pd.DataFrame({'Non-NaN': agg, 'NaN Values': 3276-agg})

In [24]:
df

                 Non-NaN  NaN Values
Hardness            3276           0
ph                  2785         491
Solids              3276           0
Chloramines         3276           0
Sulfate             2495         781
Conductivity        3276           0
Organic_carbon      3276           0
Trihalomethanes     3114         162
Turbidity           3276           0
Potability          3276           0
SampleNumber        3276           0

In [25]:
#Hardness: 60 to 200
#ph: 6.5 - 8.5
#Solids < 500 mg/L
#Chloramines: 4mg/L
#Sulfate <250 mg/L
#Conductivity < 400
#Organic Carbon < 2mg/L
#Trihalomethanes <80
#Turbidity < 5.0
water.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber', 'ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank',
       'Average_Rank', 'Average_Rank_2'],
      dtype='object')

In [26]:
#water[(water['Hardness']>=60) & (water['Hardness']<=200) & (water['Hardness'] != "NaN")]
water['Hardness_Safe'] = (water['Hardness']>=60) & (water['Hardness']<200) & (water['Hardness']!='NaN')
water['ph_safe'] = (water['ph']>=6.5) & (water['ph']<8.5) & (water['ph']!='NaN')
water['Solids_safe'] = (water['Solids']<=1000) & (water['Solids']!='NaN')
water['Chloramines_safe'] = (water['Chloramines']<=4) & (water['Chloramines']!='NaN')
water['Sulfate_safe'] = (water['Sulfate']<250) & (water['Sulfate']!='NaN')
water['Conductivity_safe'] = (water['Conductivity']<400) & (water['Conductivity']!='NaN')
water['Organic_carbon_safe'] = (water['Organic_carbon']<2) & (water['Organic_carbon']!='NaN')
water['Trihalomethanes_safe'] = (water['Trihalomethanes']<80) & (water['Trihalomethanes']!='NaN')
water['Turbidity_safe'] = (water['Turbidity']<5) & (water['Turbidity']!='NaN')


water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,...,Average_Rank_2,Hardness_Safe,ph_safe,Solids_safe,Chloramines_safe,Sulfate_safe,Conductivity_safe,Organic_carbon_safe,Trihalomethanes_safe,Turbidity_safe
0,NaN,226.548354,13584.490338,4.190696,374.157621,335.378212,9.147436,82.864929,2.364559,0,...,0,False,False,False,False,False,True,False,False,True
1,5.626340,230.857983,14442.418875,5.210369,NaN,346.553206,11.368702,43.195182,1.943319,1,...,1,False,False,False,False,False,True,False,True,True
2,NaN,254.125389,9959.135015,4.008584,NaN,364.806273,11.316645,59.353221,3.170543,0,...,2,False,False,False,False,False,True,False,True,True
3,9.076318,215.912723,14153.643378,5.020027,333.499203,311.797042,10.776321,69.114593,3.436986,0,...,3,False,False,False,False,False,True,False,True,True
4,NaN,199.383091,5576.628297,4.998844,341.088342,388.249299,10.745154,50.747474,3.216414,0,...,4,True,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,6.761414,216.532498,32156.819439,8.723064,343.601104,526.325214,20.314691,60.521593,4.350207,1,...,3271,False,True,False,False,False,False,False,True,True
3272,6.770095,201.650854,25887.631722,9.367533,327.619453,519.380367,17.720300,90.064849,5.203461,1,...,3272,False,True,False,False,False,False,False,False,False
3273,NaN,186.873014,26004.528877,8.493529,320.693485,534.130272,19.890025,54.373956,5.144114,0,...,3273,True,False,False,False,False,False,False,True,False
3274,7.154736,198.147326,32680.977991,8.972661,283.108492,531.602634,19.806287,81.926826,4.629956,1,...,3274,True,True,False,False,False,False,False,False,True
3275,10.003301,143.094285,46113.957485,12.912187,NaN,574.555041,16.963310,36.767671,4.746382,1,...,3275,True,False,False,False,False,False,False,True,True

In [27]:
water.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber', 'ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank',
       'Average_Rank', 'Average_Rank_2', 'Hardness_Safe', 'ph_safe',
       'Solids_safe', 'Chloramines_safe', 'Sulfate_safe', 'Conductivity_safe',
       'Organic_carbon_safe', 'Trihalomethanes_safe', 'Turbidity_safe'],
      dtype='object')

In [28]:

water["Hardness_Safe_qty"] = water["Hardness_Safe"].sum()
water["ph_safe_qty"] = water["ph_safe"].sum()
water["Solids_safe_qty"] = water["Solids_safe"].sum()
water["Chloramines_safe_qty"] = water["Chloramines_safe"].sum()
water["Sulfate_safe_qty"] = water["Sulfate_safe"].sum()
water["Conductivity_safe_qty"] = water["Conductivity_safe"].sum()
water["Organic_carbon_safe_qty"] = water["Organic_carbon_safe"].sum()
water["Trihalomethanes_safe_qty"] = water["Trihalomethanes_safe"].sum()
water["Turbidity_safe_qty"] = water["Turbidity_safe"].sum()

In [29]:
water["Hardness_Safe_pct"] = (water["Hardness_Safe"].sum()/32.76).round(2)
water["ph_safe_pct"] = (water["ph_safe"].sum()/32.76).round(2)
water["Solids_safe_pct"] = (water["Solids_safe"].sum()/32.76).round(2)
water["Chloramines_safe_pct"] = (water["Chloramines_safe"].sum()/32.76).round(2)
water["Sulfate_safe_pct"] = (water["Sulfate_safe"].sum()/32.76).round(2)
water["Conductivity_safe_pct"] = (water["Conductivity_safe"].sum()/32.76).round(2)
water["Organic_carbon_safe_pct"] = (water["Organic_carbon_safe"].sum()/32.76).round(2)
water["Trihalomethanes_safe_pct"] = (water["Trihalomethanes_safe"].sum()/32.76).round(2)
water["Turbidity_safe_pct"] = (water["Turbidity_safe"].sum()/32.76).round(2)

In [30]:
water["Average_Rank"] = water["Average_Rank"].round(0)

In [31]:
water = water[['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber', 'ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank',
       'Average_Rank', 'Average_Rank_2', 'Hardness_Safe', 'ph_safe',
       'Solids_safe', 'Chloramines_safe', 'Sulfate_safe', 'Conductivity_safe',
       'Organic_carbon_safe', 'Trihalomethanes_safe', 'Turbidity_safe',
       'Hardness_Safe_qty', 'ph_safe_qty', 'Solids_safe_qty',
       'Chloramines_safe_qty', 'Sulfate_safe_qty', 'Conductivity_safe_qty',
       'Organic_carbon_safe_qty', 'Trihalomethanes_safe_qty',
       'Turbidity_safe_qty', 'Hardness_Safe_pct', 'ph_safe_pct',
       'Solids_safe_pct', 'Chloramines_safe_pct', 'Sulfate_safe_pct',
       'Conductivity_safe_pct', 'Organic_carbon_safe_pct',
       'Trihalomethanes_safe_pct', 'Turbidity_safe_pct']].round(2)

In [32]:
#water.to_csv('water2.csv', index=False)

In [33]:
#Solids is apparently not accurate
#Organic carbon is also not accurate
water3 = water.dropna()

In [34]:
#water3.to_csv('water_Ryan.csv', index=False)

In [35]:
water["Solids"].max()

61227.2

In [36]:
water4 = water3.drop(columns=["Solids", "Organic_carbon","Chloramines", "Sulfate", 
                              "Solids_rank", "Organic_carbon_rank","Chloramines_rank","Sulfate_rank",
                             "Solids_safe", "Organic_carbon_safe", "Chloramines_safe", "Sulfate_safe",
                             "Solids_safe_qty", "Organic_carbon_safe_qty", "Chloramines_safe_qty", "Sulfate_safe_qty",
                             "Solids_safe_pct", "Organic_carbon_safe_pct", "Chloramines_safe_pct", "Sulfate_safe_pct"])

In [37]:
water4

,ph,Hardness,Conductivity,Trihalomethanes,Turbidity,Potability,SampleNumber,ph_rank,Hardness_rank,Conductivity_rank,...,Hardness_Safe_qty,ph_safe_qty,Conductivity_safe_qty,Trihalomethanes_safe_qty,Turbidity_safe_qty,Hardness_Safe_pct,ph_safe_pct,Conductivity_safe_pct,Trihalomethanes_safe_pct,Turbidity_safe_pct
3,9.08,215.91,311.80,69.11,3.44,0,2531,2506,215.91,232,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
6,7.18,225.12,294.99,81.45,4.01,0,1796,1493,225.12,138,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
8,9.61,231.34,328.90,78.57,3.04,0,1030,2617,231.34,375,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
9,8.25,175.91,302.20,71.44,3.94,0,974,2191,175.91,176,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
10,6.68,228.30,254.39,64.78,3.45,1,3205,1108,228.30,12,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,5.75,241.60,495.95,71.43,5.92,0,1366,531,241.60,2614,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
3270,8.33,213.87,569.10,62.79,4.40,0,1272,2237,213.87,3125,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
3271,6.76,216.53,526.33,60.52,4.35,1,2838,1169,216.53,2891,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
3272,6.77,201.65,519.38,90.06,5.20,1,2023,1176,201.65,2837,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42
3274,7.15,198.15,531.60,81.93,4.63,1,1958,1474,198.15,2935,...,1786,1328,1314,2512,2962,54.52,40.54,40.11,76.68,90.42

In [38]:
water4[['Hardness_Safe', 'ph_safe','Conductivity_safe',
       'Trihalomethanes_safe', 'Turbidity_safe']]

,Hardness_Safe,ph_safe,Conductivity_safe,Trihalomethanes_safe,Turbidity_safe
3,False,False,True,True,True
6,False,True,True,False,True
8,False,False,True,True,True
9,True,True,True,True,True
10,False,True,True,True,True
...,...,...,...,...,...
3269,False,False,False,True,False
3270,False,True,False,True,True
3271,False,True,False,True,True
3272,False,True,False,False,False
3274,True,True,False,False,True

In [53]:
def check(x):
    if x['Hardness_Safe'] == True & x['ph_safe'] == True & x['Conductivity_safe'] == True & x['Trihalomethanes_safe'] == True & x['Turbidity_safe'] == True:
        return True
    else:
        return False
water4['Potable_WHO_Standards'] = water4.apply(check, axis=1)

In [59]:
def potable(y):
    if y['Potability'] == 1:
        return True
    else:
        return False
water4['Potability'] = water4.apply(potable, axis=1)

In [60]:
water4[['Potable_WHO_Standards', 'Potability']]

      Potable_WHO_Standards  Potability
3                     False       False
6                     False       False
8                     False       False
9                      True       False
10                    False        True
...                     ...         ...
3269                  False       False
3270                  False       False
3271                  False        True
3272                  False        True
3274                  False        True

[2011 rows x 2 columns]

In [61]:
water4['Potable_WHO_Standards'].count()

2011

In [62]:
water4['Potability'].count()

2011

In [79]:
WHO_True = len(water4[water4.Potable_WHO_Standards == True])

In [80]:
Pot_True = len(water4[water4.Potability == True])

In [81]:
WHO_False = len(water4[water4.Potable_WHO_Standards == False])

In [82]:
Pot_False = len(water4[water4.Potability == False])

In [87]:
WHO_True + Pot_True + WHO_False + Pot_False

4022

In [96]:
def conflict(x):
    if x['Potable_WHO_Standards'] == x['Potability']:
        return 'No Conflict'
    else:
        return 'Conflict'
water4['Conflict'] = water4.apply(conflict, axis=1)

In [97]:
water4[water4.Conflict == 'Conflict'].shape

(821, 32)

In [98]:
water4[water4.Conflict == 'No Conflict'].shape

(1190, 32)

In [99]:
water4[water4.Potable_WHO_Standards & water4.Potability == True].shape

(66, 32)

In [100]:
water4[water4.Potable_WHO_Standards & water4.Potability == False].shape

(1945, 32)

In [101]:
water4['Conflict']

3       No Conflict
6       No Conflict
8       No Conflict
9          Conflict
10         Conflict
           ...
3269    No Conflict
3270    No Conflict
3271       Conflict
3272       Conflict
3274       Conflict
Name: Conflict, Length: 2011, dtype: object

In [103]:
water4.drop(columns=['Potable_Manual'])

,ph,Hardness,Conductivity,Trihalomethanes,Turbidity,Potability,SampleNumber,ph_rank,Hardness_rank,Conductivity_rank,...,Conductivity_safe_qty,Trihalomethanes_safe_qty,Turbidity_safe_qty,Hardness_Safe_pct,ph_safe_pct,Conductivity_safe_pct,Trihalomethanes_safe_pct,Turbidity_safe_pct,Conflict,Potable_WHO_Standards
3,9.08,215.91,311.80,69.11,3.44,False,2531,2506,215.91,232,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,No Conflict,False
6,7.18,225.12,294.99,81.45,4.01,False,1796,1493,225.12,138,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,No Conflict,False
8,9.61,231.34,328.90,78.57,3.04,False,1030,2617,231.34,375,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,No Conflict,False
9,8.25,175.91,302.20,71.44,3.94,False,974,2191,175.91,176,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,Conflict,True
10,6.68,228.30,254.39,64.78,3.45,True,3205,1108,228.30,12,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,Conflict,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,5.75,241.60,495.95,71.43,5.92,False,1366,531,241.60,2614,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,No Conflict,False
3270,8.33,213.87,569.10,62.79,4.40,False,1272,2237,213.87,3125,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,No Conflict,False
3271,6.76,216.53,526.33,60.52,4.35,True,2838,1169,216.53,2891,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,Conflict,False
3272,6.77,201.65,519.38,90.06,5.20,True,2023,1176,201.65,2837,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,Conflict,False
3274,7.15,198.15,531.60,81.93,4.63,True,1958,1474,198.15,2935,...,1314,2512,2962,54.52,40.54,40.11,76.68,90.42,Conflict,False

In [104]:
water4[['Potability', 'Potable_WHO_Standards', 'Conflict']]

      Potability  Potable_WHO_Standards     Conflict
3          False                  False  No Conflict
6          False                  False  No Conflict
8          False                  False  No Conflict
9          False                   True     Conflict
10          True                  False     Conflict
...          ...                    ...          ...
3269       False                  False  No Conflict
3270       False                  False  No Conflict
3271        True                  False     Conflict
3272        True                  False     Conflict
3274        True                  False     Conflict

[2011 rows x 3 columns]

In [105]:
water4[water4.Conflict == 'No Conflict'].shape

(1190, 32)

In [106]:
water4[water4.Conflict == 'Conflict'].shape

(821, 32)