In [92]:
import pandas as pd

In [93]:
water = pd.read_csv("water_potability.csv")

In [94]:
water['SampleNumber'] = water.index

In [95]:
water.shape

(3276, 11)

In [96]:
water.dropna()
water.reset_index()

,index,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,SampleNumber
0,0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0,0
1,1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0,1
2,2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0,2
3,3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0,3
4,4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
3271,3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1,3271
3272,3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1,3272
3273,3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1,3273
3274,3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1,3274
3275,3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1,3275

In [97]:
#water = water.sort_values("ph", ascending=False).reset_index(drop=True)
#water['ph_rank'] = water.index

In [98]:
water.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber'],
      dtype='object')

In [99]:
water['ph_rank'] = water[water['ph'].notnull()].groupby('ph', sort=True).ngroup()+1
water['ph_rank'] = water['ph_rank'].fillna('')

In [100]:
water['Hardness_rank'] = water[water['Hardness'].notnull()].groupby('Hardness', sort=True).ngroup()+1
water['Hardness_rank'] = water['Hardness'].fillna('')

In [101]:
water['Solids_rank'] = water[water['Solids'].notnull()].groupby('Solids', sort=True).ngroup()+1
water['Solids_rank'] = water['Solids_rank'].fillna('')

In [102]:
water['Chloramines_rank'] = water[water['Chloramines'].notnull()].groupby('Chloramines', sort=True).ngroup()+1
water['Chloramines_rank'] = water['Chloramines_rank'].fillna('')

In [103]:
water['Sulfate_rank'] = water[water['Sulfate'].notnull()].groupby('Sulfate', sort=True).ngroup()+1
water['Sulfate_rank'] = water['Sulfate_rank'].fillna('')

In [104]:
water['Conductivity_rank'] = water[water['Conductivity'].notnull()].groupby('Conductivity', sort=True).ngroup()+1
water['Conductivity_rank'] = water['Conductivity_rank'].fillna('')

In [105]:
water['Organic_carbon_rank'] = water[water['Organic_carbon'].notnull()].groupby('Organic_carbon', sort=True).ngroup()+1
water['Organic_carbon_rank'] = water['Organic_carbon_rank'].fillna('')

In [106]:
water['Trihalomethanes_rank'] = water[water['Trihalomethanes'].notnull()].groupby('Trihalomethanes', sort=True).ngroup()+1
water['Trihalomethanes_rank'] = water['Trihalomethanes_rank'].fillna('')

In [107]:
water['Turbidity_rank'] = water[water['Turbidity'].notnull()].groupby('Turbidity', sort=True).ngroup()+1
water['Turbidity_rank'] = water['Turbidity_rank'].fillna('')

In [108]:
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,SampleNumber,ph_rank,Hardness_rank,Solids_rank,Chloramines_rank,Sulfate_rank,Conductivity_rank,Organic_carbon_rank,Trihalomethanes_rank,Turbidity_rank
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0,0,,204.890455,1620,1792,2010,3105,370,2826,342
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0,1,50,129.422921,1284,1229,,3196,2002,802,2458
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0,2,2108,224.236259,1467,2998,,1590,2550,1545,407
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0,3,2234,214.373394,1795,2411,1820,783,2932,3059,2628
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0,4,2510,181.101509,1176,1152,664,1279,664,60,1814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1,3271,163,193.681735,3250,1675,1871,2893,1489,1566,2382
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1,3272,1925,193.553212,1069,2412,,1190,3139,,214
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1,3273,2582,175.762646,2918,1835,,1793,519,1820,646
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1,3274,284,230.603758,355,961,,1362,562,2345,2716
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1,3275,1970,195.102299,1080,1977,,354,2334,2429,59

In [109]:
water["Average_Rank"] = water[['ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank']].mean(numeric_only=True, axis=1)

In [110]:
#water = water.sort_values("Average_Rank", ascending=True).reset_index(drop=True)
#water['Average_Rank_2'] = water.index

In [111]:
#water.to_csv('water1.csv', index=False)

In [112]:
water[['SampleNumber']]

      SampleNumber
0                0
1                1
2                2
3                3
4                4
...            ...
3271          3271
3272          3272
3273          3273
3274          3274
3275          3275

[3276 rows x 1 columns]

In [116]:
water_dropna = water.dropna()
water_dropna.shape
water = water_dropna.reset_index()

In [117]:
agg = water[['Hardness', 'ph', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber']].count()

df = pd.DataFrame({'Non-NaN': agg, 'NaN Values': 3276-agg})

In [118]:
df

                 Non-NaN  NaN Values
Hardness            2011        1265
ph                  2011        1265
Solids              2011        1265
Chloramines         2011        1265
Sulfate             2011        1265
Conductivity        2011        1265
Organic_carbon      2011        1265
Trihalomethanes     2011        1265
Turbidity           2011        1265
Potability          2011        1265
SampleNumber        2011        1265

In [119]:
#Hardness: 60 to 200
#ph: 6.5 - 8.5
#Solids < 500 mg/L
#Chloramines: 4mg/L
#Sulfate <250 mg/L
#Conductivity < 400
#Organic Carbon < 2mg/L
#Trihalomethanes <80
#Turbidity < 5.0
water.columns

Index(['index', 'ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate',
       'Conductivity', 'Organic_carbon', 'Trihalomethanes', 'Turbidity',
       'Potability', 'SampleNumber', 'ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank',
       'Average_Rank'],
      dtype='object')

In [123]:
#water[(water['Hardness']>=60) & (water['Hardness']<=200) & (water['Hardness'] != "NaN")]
water['Hardness_Safe'] = (water['Hardness']>=60) & (water['Hardness']<200) & (water['Hardness']!='NaN')
water['ph_safe'] = (water['ph']>=6.5) & (water['ph']<8.5) & (water['ph']!='NaN')
water['Solids_safe'] = (water['Solids']<=1000) & (water['Solids']!='NaN')
water['Chloramines_safe'] = (water['Chloramines']<=4) & (water['Chloramines']!='NaN')
water['Sulfate_safe'] = (water['Sulfate']<250) & (water['Sulfate']!='NaN')
water['Conductivity_safe'] = (water['Conductivity']<400) & (water['Conductivity']!='NaN')
water['Organic_carbon_safe'] = (water['Organic_carbon']<2) & (water['Organic_carbon']!='NaN')
water['Trihalomethanes_safe'] = (water['Trihalomethanes']<80) & (water['Trihalomethanes']!='NaN')
water['Turbidity_safe'] = (water['Turbidity']<5) & (water['Turbidity']!='NaN')


water = water.drop(columns=['index'])

In [124]:
water.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber', 'ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank',
       'Average_Rank', 'Hardness_Safe', 'ph_safe', 'Solids_safe',
       'Chloramines_safe', 'Sulfate_safe', 'Conductivity_safe',
       'Organic_carbon_safe', 'Trihalomethanes_safe', 'Turbidity_safe'],
      dtype='object')

In [125]:

water["Hardness_Safe_qty"] = water["Hardness_Safe"].sum()
water["ph_safe_qty"] = water["ph_safe"].sum()
water["Solids_safe_qty"] = water["Solids_safe"].sum()
water["Chloramines_safe_qty"] = water["Chloramines_safe"].sum()
water["Sulfate_safe_qty"] = water["Sulfate_safe"].sum()
water["Conductivity_safe_qty"] = water["Conductivity_safe"].sum()
water["Organic_carbon_safe_qty"] = water["Organic_carbon_safe"].sum()
water["Trihalomethanes_safe_qty"] = water["Trihalomethanes_safe"].sum()
water["Turbidity_safe_qty"] = water["Turbidity_safe"].sum()

In [126]:
water["Hardness_Safe_pct"] = (water["Hardness_Safe"].sum()/32.76).round(2)
water["ph_safe_pct"] = (water["ph_safe"].sum()/32.76).round(2)
water["Solids_safe_pct"] = (water["Solids_safe"].sum()/32.76).round(2)
water["Chloramines_safe_pct"] = (water["Chloramines_safe"].sum()/32.76).round(2)
water["Sulfate_safe_pct"] = (water["Sulfate_safe"].sum()/32.76).round(2)
water["Conductivity_safe_pct"] = (water["Conductivity_safe"].sum()/32.76).round(2)
water["Organic_carbon_safe_pct"] = (water["Organic_carbon_safe"].sum()/32.76).round(2)
water["Trihalomethanes_safe_pct"] = (water["Trihalomethanes_safe"].sum()/32.76).round(2)
water["Turbidity_safe_pct"] = (water["Turbidity_safe"].sum()/32.76).round(2)

In [127]:
water["Average_Rank"] = water["Average_Rank"].round(0)

In [129]:
water = water[['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability',
       'SampleNumber', 'ph_rank', 'Hardness_rank', 'Solids_rank',
       'Chloramines_rank', 'Sulfate_rank', 'Conductivity_rank',
       'Organic_carbon_rank', 'Trihalomethanes_rank', 'Turbidity_rank',
       'Average_Rank', 'Hardness_Safe', 'ph_safe',
       'Solids_safe', 'Chloramines_safe', 'Sulfate_safe', 'Conductivity_safe',
       'Organic_carbon_safe', 'Trihalomethanes_safe', 'Turbidity_safe',
       'Hardness_Safe_qty', 'ph_safe_qty', 'Solids_safe_qty',
       'Chloramines_safe_qty', 'Sulfate_safe_qty', 'Conductivity_safe_qty',
       'Organic_carbon_safe_qty', 'Trihalomethanes_safe_qty',
       'Turbidity_safe_qty', 'Hardness_Safe_pct', 'ph_safe_pct',
       'Solids_safe_pct', 'Chloramines_safe_pct', 'Sulfate_safe_pct',
       'Conductivity_safe_pct', 'Organic_carbon_safe_pct',
       'Trihalomethanes_safe_pct', 'Turbidity_safe_pct']].round(2)

In [130]:
#water.to_csv('water2.csv', index=False)

In [131]:
#Solids is apparently not accurate
#Organic carbon is also not accurate
water3 = water.dropna()

In [132]:
#water3.to_csv('water_Ryan.csv', index=False)

In [133]:
water["Solids"].max()

56488.67

In [134]:
water4 = water3.drop(columns=["Solids", "Organic_carbon","Chloramines", "Sulfate", 
                              "Solids_rank", "Organic_carbon_rank","Chloramines_rank","Sulfate_rank",
                             "Solids_safe", "Organic_carbon_safe", "Chloramines_safe", "Sulfate_safe",
                             "Solids_safe_qty", "Organic_carbon_safe_qty", "Chloramines_safe_qty", "Sulfate_safe_qty",
                             "Solids_safe_pct", "Organic_carbon_safe_pct", "Chloramines_safe_pct", "Sulfate_safe_pct"])

In [135]:
#water4 = water4.reset_index()
water4

,ph,Hardness,Conductivity,Trihalomethanes,Turbidity,Potability,SampleNumber,ph_rank,Hardness_rank,Conductivity_rank,...,Hardness_Safe_qty,ph_safe_qty,Conductivity_safe_qty,Trihalomethanes_safe_qty,Turbidity_safe_qty,Hardness_Safe_pct,ph_safe_pct,Conductivity_safe_pct,Trihalomethanes_safe_pct,Turbidity_safe_pct
0,8.32,214.37,363.27,100.34,4.63,0,3,2234,214.37,783,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
1,9.09,181.10,398.41,32.00,4.08,0,4,2510,181.10,1279,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
2,5.58,188.31,280.47,54.92,2.56,0,5,445,188.31,68,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
3,10.22,248.07,283.65,84.60,2.67,0,6,2707,248.07,77,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
4,8.64,203.36,474.61,62.80,4.40,0,7,2354,203.36,2357,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,8.99,215.05,390.41,55.07,4.61,1,3267,2475,215.05,1164,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
2007,6.70,207.32,329.27,28.88,3.44,1,3268,1116,207.32,377,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
2008,11.49,94.81,439.89,41.56,4.37,1,3269,2772,94.81,1915,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
2009,6.07,186.66,415.89,60.42,3.67,1,3270,683,186.66,1549,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77
2010,4.67,193.68,526.42,66.69,4.44,1,3271,163,193.68,2893,...,1101,961,794,1623,1827,33.61,29.33,24.24,49.54,55.77

In [136]:
water4[['Hardness_Safe', 'ph_safe','Conductivity_safe',
       'Trihalomethanes_safe', 'Turbidity_safe']]

,Hardness_Safe,ph_safe,Conductivity_safe,Trihalomethanes_safe,Turbidity_safe
0,False,True,True,False,True
1,True,False,True,True,True
2,True,False,True,True,True
3,False,False,True,False,True
4,False,False,False,True,True
...,...,...,...,...,...
2006,False,False,True,True,True
2007,False,True,True,True,True
2008,True,False,False,True,True
2009,True,False,False,True,True
2010,True,False,False,True,True

In [137]:
def check(x):
    if x['Hardness_Safe'] == True & x['ph_safe'] == True & x['Conductivity_safe'] == True & x['Trihalomethanes_safe'] == True & x['Turbidity_safe'] == True:
        return True
    else:
        return False
water4['Potable_WHO_Standards'] = water4.apply(check, axis=1)

In [138]:
def potable(y):
    if y['Potability'] == 1:
        return True
    else:
        return False
water4['Potability'] = water4.apply(potable, axis=1)

In [139]:
water4[['Potable_WHO_Standards', 'Potability']]

      Potable_WHO_Standards  Potability
0                     False       False
1                     False       False
2                     False       False
3                     False       False
4                     False       False
...                     ...         ...
2006                  False        True
2007                  False        True
2008                  False        True
2009                  False        True
2010                  False        True

[2011 rows x 2 columns]

In [61]:
water4['Potable_WHO_Standards'].count()

2011

In [140]:
water_ryan = water4.rename(columns={'Potability':'Original_Potability'})

In [142]:
water_ryan.to_csv('water_ryan.csv')

In [143]:
SVM = pd.read_csv("SVM.csv")

In [154]:
SVM = SVM.rename(columns={'Potability':'SVM_Potability'})

In [145]:
LogReg = pd.read_csv('LogisticRegression.csv')

In [155]:
LogReg = LogReg.rename(columns={'Potability':'Logistic_Regression_Potability'})

In [146]:
RanFor = pd.read_csv('RandomForrestsResults.csv')

In [156]:
RanFor = RanFor.rename(columns={'Potability':'Random_Forrest_Potability'})

In [157]:
ryan = pd.read_csv("water_Ryan.csv")

In [158]:
master = pd.concat([ryan, SVM, LogReg, RanFor], axis=1)

In [167]:
master = master.drop(columns=['Unnamed: 0'])

In [171]:
master['Sample_Number'] = master.index

<ipython-input-171-bc24f8a5321e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master['Sample_Number'] = master.index

In [175]:
master.to_csv('Master.csv', index=False)

,ph,Hardness,Conductivity,Trihalomethanes,Turbidity,Original_Potability,SampleNumber,ph_rank,Hardness_rank,Conductivity_rank,...,TestOrTrain,SVM_Potability,SVM Test Score,TestOrTrain,Logistic_Regression_Potability,SVM Test Score,TestOrTrain,Random_Forrest_Potability,SVM Test Score,Sample_Number
0,8.32,214.37,363.27,100.34,4.63,False,3,2234.0,214.37,783,...,Train,False,0.67053,Train,False,0.67053,Train,False,0.67053,0
1,9.09,181.10,398.41,32.00,4.08,False,4,2510.0,181.10,1279,...,Train,False,0.67053,Train,False,0.67053,Train,False,0.67053,1
2,5.58,188.31,280.47,54.92,2.56,False,5,445.0,188.31,68,...,Train,False,0.67053,Train,False,0.67053,Train,False,0.67053,2
3,10.22,248.07,283.65,84.60,2.67,False,6,2707.0,248.07,77,...,Test,False,0.67053,Test,False,0.67053,Test,False,0.67053,3
4,8.64,203.36,474.61,62.80,4.40,False,7,2354.0,203.36,2357,...,Train,False,0.67053,Train,False,0.67053,Train,False,0.67053,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,8.99,215.05,390.41,55.07,4.61,True,3267,2475.0,215.05,1164,...,Test,True,0.67053,Test,True,0.67053,Test,True,0.67053,2006
2007,6.70,207.32,329.27,28.88,3.44,True,3268,1116.0,207.32,377,...,Train,True,0.67053,Train,True,0.67053,Train,True,0.67053,2007
2008,11.49,94.81,439.89,41.56,4.37,True,3269,2772.0,94.81,1915,...,Test,True,0.67053,Test,True,0.67053,Test,True,0.67053,2008
2009,6.07,186.66,415.89,60.42,3.67,True,3270,683.0,186.66,1549,...,Train,True,0.67053,Train,True,0.67053,Train,True,0.67053,2009
2010,4.67,193.68,526.42,66.69,4.44,True,3271,163.0,193.68,2893,...,Train,True,0.67053,Train,True,0.67053,Train,True,0.67053,2010